<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBmYqGYPUi3MjTGn6a7Um5Bi22zN9ymbc</string>
	<key>GCM_SENDER_ID</key>
	<string>927030021351</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.svh.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-fc371</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-fc371.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927030021351:ios:e3897968117f83c389e642</string>
</dict>
</plist>